-# !!!
-# %html
-#   %head
-#   %body


.pickupitems-box
  .pickupitems-box__header
    ピックアップメニュー
      
  .pickupitems-box__body
    .newitems__headerlist
      新規投稿商品
    .newitems__mainlists
      .itemlist
        .itemlist__image
          = @item.image 
        .itemlist__name
          = @item.name
        .itemlist__price
          = @item.price