-# !!!
-# %html
-#   %head
-#   %body

.pickupitems-box
  .pickupitems-box__header
    ピックアップメニュー
      
  .pickupitems-box__body
    .newitems__headerlist
      新規投稿商品
    .newitems__body
      .newitemsbody__list
      - @items.each do |item|
        .newitemsbody__list__image
          = item.image
        .newitemsbody__info
          .name
            = item.name
          .price
            = item.price
