-# !!!
-# %html
-#   %head
-#   %body

.pickupitem-box
  .pickupitem-box__header
    ピックアップメニュー
      
  .pickupitem-box__body
    .newitems__header
      新規投稿商品
    .newitems__lists
    - @items.each do |item|
      .newitemsbody__list
        -# = link to 詳細ページへのパス
        .newitemsbody__list__image
          = image_tag item.image, :size =>'220x245'
        .newitemsbody__info
          .name
            = item.name
          .price
            #{item.price}円
            
