// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pickupitem-box{
  height: 100%;
  width: 100vw;
  padding: 80,0,0;
  &__header{
    color: black;
    font-weight: bold;
    text-align: center;
  }
  &__body{
    font-weight: bold;
    text-align: center;

    .newitems__header{
      color: cyan;
      text-align: center;
    }

    .newitems__lists{
      display: flex;
      justify-content: space-around;
      width: 780px;
      margin: 26px auto;
      .newitemsbody__list{
        background-color: darkkhaki;
        &__image{
        }
        &__info{
          .name{
          }
          .price{
          }
        }
      }
    }
  }
}

// .newitemsbody__listを横並びに
