// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pickupitems-box{
  height: 100%;
  width: 100vw;
  padding: 80,0,0;
  &__header{
    color: black;
    font-weight: bold;
    text-align: center;
  }
  &__body{
    color: aqua;
    font-weight: bold;
    text-align: center;
    
    &__headerlist{
      text-align: center;
    }

    &__mainlists{
      height: 100%;
      width: 20%;
      color: cadetblue;
      .itemlist{
        &__image{
        }
        &__name{
        }
        &__price{
        }
      }
    }
  }
}
